<ng-container role="heading">
  <div class="card-header__content" role="list">
    <div class="card-header__content-item" role="listitem" style="width: 50%">
      <p aria-describedby="item">Tech Service</p>
    </div>

    <div class="card-header__content-item" role="listitem" style="width: 20%">
        <p aria-describedby="item">Technician</p>
    </div>

    <div class="card-header__content-item" role="listitem" style="width: 20%">
      <p aria-describedby="item">Status</p>
    </div>

    <div class="card-header__content-item" role="listitem" style="width: 10%">
      <p aria-describedby="item">Due</p>
    </div>
  </div>
</ng-container>
