<ng-container role="heading">
  <div class="card-header__content" role="list">
    <div class="card-header__content-item" role="listitem" style="width: 50%">
      <p aria-describedby="item">{{header_titles[0]}}</p>
    </div>

    <div class="card-header__content-item" role="listitem" style="width: 20%">
        <p aria-describedby="item">{{header_titles[1]}}</p>
    </div>

    <div class="card-header__content-item" role="listitem" style="width: 20%">
      <p aria-describedby="item">{{header_titles[2]}}</p>
    </div>

    <div class="card-header__content-item" role="listitem" style="width: 10%">
      <p aria-describedby="item">{{header_titles[3]}}</p>
    </div>
  </div>
</ng-container>
