<div class="container">
  <h1>Your previous tech requirements</h1>
  <div class="content-wrapper">
    <mat-card class="tech-card">
      <mat-card-header>
        <mat-card-title>Tech Service</mat-card-title>
      </mat-card-header>
      <div class="user-details">
        <img class="user-icon" src="assets/images/icon-user.png" alt="User icon">
        <mat-card-subtitle>David Fernandez, Data Analyst</mat-card-subtitle>
      </div>
      <mat-card-content>
        <p>Analytics and Reporting Tools: We need to assess the performance of our business and make informed decisions.</p>
      </mat-card-content>
    </mat-card>
    <div class="comment-section">
      <textarea class="text-box" rows="4" placeholder="Escriba sus comentarios aquí..."></textarea>
      <p class="phrase-rating">Rating</p>
      <app-rating class="rating-2" [rating]="rating"  [starCount]="starCount" [color]="starColorW" (ratingUpdated)="onRatingChanged($event)"></app-rating>
      <button class="comment-button" (click)="addComment()">Add comment</button>
    </div>
  </div>
</div>


