<div class="card">
  <div class="profile-image">
    <img src="url_de_la_imagen" alt="Avatar" class="avatar">
  </div>
  <div class="card-content">
    <div class="card-body">
      <p><strong>Nombre:</strong> <span class="dark-text">{{ name }}</span></p>
      <p><strong>Correo:</strong> <span class="dark-text">{{ email }}</span></p>
      <p><strong>Phone:</strong> <span class="dark-text">{{ phone }}</span></p>
      <button class="btn btn-edit">Editar perfil</button>
    </div>
  </div>
</div>
