<mat-card *ngIf="userData">
  <div class="content-container">

    <mat-card role="profile-card">
      <mat-card-header>
        <mat-card-title class="card-title">{{ userData.name }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p><strong>Nombre:</strong> {{ userData.name }}</p>
        <p><strong>Correo:</strong> {{ userData.email }}</p>
        <!-- Agrega aquí más detalles del perfil del usuario si los necesitas -->
      </mat-card-content>

      <mat-card-actions>
        <button mat-button color="primary" (click)="editProfile()">Editar Perfil</button>
      </mat-card-actions>
    </mat-card>
  </div>

</mat-card>

