<mat-toolbar>
  <div class="toolbar__content-logo">
    <img src="./assets/images/logo-officetech.png" alt="OfficeTech" role="img" class="logo-officetech" (click)="navigateTo('')">
    <h2 class="toolbar__content-title" aria-label="title" (click)="navigateTo('')">OfficeTech</h2>
  </div>

  <div class="toolbar__content-list" id="toolbar__content-list">
    <ul *ngIf="start_home">
      <li
        class="toolbar__list-item"
        role="listitem"
        aria-describedby="page"
        (click)="router.navigate(routes_navbar[0])"
      >
        Home
      </li>
      <li
        class="toolbar__list-item"
        role="listitem"
        aria-describedby="page"
        (click)="router.navigate(routes_navbar[1])">
        Sign In
      </li>
    </ul>

    <ul *ngIf="!start_home">
      <li
        class="toolbar__list-item"
        role="listitem"
        aria-describedby="page"
        (click)="router.navigate(routes_navbar[0])">
        Home
      </li>
      <li
        class="toolbar__list-item"
        role="listitem"
        aria-describedby="page"
        (click)="router.navigate(routes_navbar[1])">
        Forum
      </li>
      <li
        class="toolbar__list-item"
        role="listitem"
        aria-describedby="page"
        (click)="router.navigate(routes_navbar[2])">
        Services
      </li>
      <li
        class="toolbar__list-item"
        role="listitem"
        aria-describedby="page"
        (click)="router.navigate(routes_navbar[3])">
        Profile
      </li>
      <li
        class="toolbar__list-item"
        role="listitem"
        aria-describedby="page"
        (click)="router.navigate(routes_navbar[4])">
        Sign Out
      </li>
    </ul>

  </div>

  <div class="toolbar__content-toggle" (click)="toggleNavbar()">
    <i class="fa fa-bars" ></i>
  </div>

</mat-toolbar>
