.home-container {
  width: 100%;
  height: calc(100vh - 96px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;

}
.content-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6%;
}
.image-container {
  width: 50%;
  height: 100%;
}
p {
  width: 80%;
  line-height: 1.4;
  font-size: 1.4vw;
  color: #000;
  margin-bottom: 4%;
}
.title {
  font-size: 5vw;
  font-weight: bold;
  color: #2C3F84;
  padding: 10px 0;
  line-height: 1.05;


}

a {
  color: #2C3F84;
  text-decoration: none;
  cursor: pointer;
}
.button {
  display: inline-block;
  padding: 16px 20px;
  width: 195px;
  font-weight: 500;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  text-align: center;
  font-size: 1.4vw;
  margin-top: 5%;
}
.button-signin {
  background-color: #2C3F84;
  color: #FFF;
}
.button-signup {
  border: 1px solid #2C3F84;
  color: #2C3F84;
  margin-left: 1rem;
}

.button-signin:hover {
  background-color: #1E2E5C;
}
.button-signup:hover {
  color: #FFFFFF;
  background-color: #1E2E5C;
}

img {
  position: absolute;
  bottom: 0;
  right: 6%;
}

@media screen and (max-width: 1000px) {
  .home-container {
    width: 100%;
    height: auto;
    flex-direction: column;
    text-align: center;
  }
  .content-container {
    width: 100%;
    padding: 20px;
  }
  .image-container {
    width: 100%;
  }
  img {
    width: 80%;
    position: static;
    align-self: center;
    margin-top:100px;
  }
  p {
    width: 100%;
  }
  .title {
    font-size: 3em;
  }
  p {
    font-size: 1.5em;
    margin: 50px 0;
  }
  .button {
    font-size: 1.5em;

  }
}
@media screen and (max-width: 600px) {
  .home-container {
    width: 100%;
    height: auto;
    flex-direction: column;
    text-align: center;
  }
  .content-container {
    width: 100%;
    padding: 20px;
  }
  .image-container {
    width: 100%;
  }
  img {
    width: 100%;
    position: static;
    align-self: center;
    margin-top:100px;
  }
  .title {
    font-size: 3em;
  }
  p {
    font-size: 1.4em;
    margin: 50px 0;
  }
  .button {
    font-size: 1.4em;
    width: 42%;
  }
}



