<div class="home-container">
  <div class="content-container">
    <h1 class="title">Your tech support solution <span style='color:#FBD864; text-shadow: 3px 3px 7px rgba(99,99,99,0.85);'>starts here</span></h1>

    <p>Empowering Businesses with Cutting-Edge Technical Support Solutions</p>

    <div class="button-container">
      <a href="#" target="_self" class="button button-signin">Log in</a>
      <a href="#" target="_self" class="button button-signup">Sign up</a>
    </div>
  </div>
  <div class="image-container">
    <img src="./assets/images/home-page.png" alt="home-page-img" width="41%">
  </div>
</div>
