<div class="content-container">
  <div class="logo-container">
    <img src="./assets/images/logo-officetech.png" alt="OfficeTech" role="img" class="logo-officetech" height="68px">
    <h2 class="logo-title" aria-label="title" >OfficeTech</h2>
  </div>


  <mat-card class="subscription-card">
    <mat-card-header>
      <mat-card-title class="card-title">S/. 15.00</mat-card-title>
    </mat-card-header>
  <ul>
    <li>
      Save money by opting for a subscription-based tech support service instead of maintaining an in-house support team.
    </li>
    <li>
      Access to reliable technical support whenever needed, ensuring minimal downtime for your business operations.
    </li>
    <li>
      Choose from a variety of subscription plans tailored to meet your specific needs and budget.
    </li>
  </ul>


    <a class="button" (click)="goToPaymentDetails()">JOIN US</a>

  </mat-card>

</div>

<div class="background-circles">
  <div class="circle circle1"></div>
  <div class="circle circle2"></div>
  <div class="circle circle3"></div>
  <div class="circle circle4"></div>
</div>

