<div class="tech-services">
  <h1>Your previous tech requirements: </h1>
  <button class="btn-rounded-blue">Request a new tech service +</button>
  <div class="sub-titles">
    <div class="yellow-box">Tech Service</div>
    <div class="yellow-box tech-right">Technician</div>
    <div class="yellow-box">Done by</div>
    <div class="yellow-box">Give a rating</div>
  </div>
  <div class="white-box-container">
    <div class="white-box">
      <div class="report-section">
        <p class="report-description">Analytics and Reporting Tools: We need to assess the <br> performance of our business and make informed <br>decisions.</p>
        <p class="report-author">David Fernandez, Data Analyst</p>
        <p class="report-date">30/03/2024</p>
      </div>
    </div>
    <button class="btn-rounded-blue btn-add-comment">+ Add Comment</button>
  </div>
  <div class="white-box-container">
    <div class="white-box">
      <div class="report-section">
        <p class="report-description">Cybersecurity Solutions: We're concerned about <br> protecting our confidential information and preventing<br> potential cyber threats.</p>
        <p class="report-author">Pablo Gomez, Cybersecurity Expert</p>
        <p class="report-date">27/03/2024</p>
      </div>
    </div>
    <button class="btn-rounded-blue btn-add-comment">+ Add Comment</button>
  </div>
</div>
