mat-card {
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  font-family: "Lexend Deca", sans-serif;
  margin: 2rem 0;
}

.card__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

.card__content-item p {
  margin: 0;
}

