<mat-card role="contentinfo">
  <div class="card__content" role="list">
    <div class="card__content-item" role="listitem" style="width: 50%">
      <p aria-describedby="item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur culpa distinctio dolores fuga inventore magni nesciunt odit praesentium quae, quasi quidem reiciendis reprehenderit. Accusantium atque cum doloremque nisi temporibus!</p>
    </div>

    <div class="card__content-item" style="width: 20%">
      <p aria-describedby="item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, quo.</p>
    </div>

    <div class="card__content-item" style="width: 20%">
      <p aria-describedby="item">Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="card__content-item" style="width: 10%">
      <p aria-describedby="item">dd/mm/yyyy</p>
    </div>
  </div>
</mat-card>
