<div class="container">
  <mat-card *ngIf="userData">
    <div class="content-container">
      <h2 class="logo-title" aria-label="title">Editar Perfil</h2>
      <div class="logo-container">
        <img src="./assets/images/logo-officetech.png" alt="OfficeTech" role="img" class="logo-officetech" height="68px">
      </div>

      <mat-card class="signin-card">
        <mat-card-header>
          <mat-card-title class="card-title">{{ userData.name }}</mat-card-title>
        </mat-card-header>

        <mat-card-content class="input-field">
          <!-- Utilizamos ngModel para enlazar los campos de entrada a las propiedades del objeto userData -->
          <p><strong>Nombre: </strong> <input type="text" [(ngModel)]="userData.name" /></p>
          <p><strong>Correo: </strong> <input type="email" [(ngModel)]="userData.email" /></p>
          <p><strong>Tipo de Usuario: </strong> <select [(ngModel)]="userData.type_user">
            <option value="Tipo 1">Company</option>
            <option value="Tipo 2">Technician</option>
          </select>
            <mat-card-content class="input-field">
              <!-- Otros campos de entrada -->
              <p><strong>Contraseña Actual:</strong> <input type="password" [(ngModel)]="currentPassword" /></p>
              <p><strong>Nueva Contraseña:</strong> <input type="password" [(ngModel)]="newPassword" /></p>
              <p><strong>Confirmar Contraseña:</strong> <input type="password" [(ngModel)]="confirmPassword" /></p>
            </mat-card-content>

            <!-- No mostramos la contraseña aquí, ya que generalmente no se debe mostrar en la pantalla de edición -->

        </mat-card-content>

        <mat-card-footer class="save">
          <a class="button1" (click)="saveChanges()">Guardar cambios</a>
          <a class="button2" (click)="goBack()">regresar</a>
        </mat-card-footer>
        <!-- Utilizamos el mismo botón para guardar los cambios -->
      </mat-card>
    </div>
  </mat-card>
</div>

<div class="background-circles">
  <div class="circle circle1"></div>
  <div class="circle circle2"></div>
  <div class="circle circle3"></div>
  <div class="circle circle4"></div>
</div>

